# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Render
render.yaml

# Archivos de Node (si algún proyecto lo usa)
node_modules/

# Archivos de build
dist/
build/

# Carpeta de dependencias globales (NO subir)
site-packages/
